* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #000000b4;
    color: rgb(228, 228, 228);
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #646464;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
}

header {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: auto;
    min-height: 70%;
    background-size: cover;
    position: relative;
    z-index: 1;
}

header a:has(svg) {
    text-decoration: none;
    color: white;
    width: 90%;
}

header .headerFade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: -1;
}

header .headerContent {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    position: relative;
}

header #me {
    width: 60%;
    z-index: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#me > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#me > div:nth-child(2) {
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

#me > div:nth-child(2) div {
    display: grid;
    place-items: center;
    width: 30px;
    min-width: 20px;
}

#me h2 {
    font-size: 50px;
    font-weight: 100;
}

#me h3 {
    font-size: 30px;
    font-weight: 1;
}

#me button {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 12px;
    background: 0;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 10px;
}

#me button:hover {
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 5px #fff;
    transform: scale(1.05);
}

#me svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.1s;
}

#me svg:hover {
    transform: scale(1.05);
    filter:drop-shadow(0px 0px 3px white);
    fill: white;
}

#perfilImage {
    width: 40%;
    display: grid;
    place-items: center;
}

#perfilImage .img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: blue;
    background: url(../images/perfil/eric.png) no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#languages {
    position: absolute;
    bottom: -70px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#languages > div {
    width: 90%;
    max-width: 700px;
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #212529;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
}

#languages > div div {
    width: 60px;
    min-width: 25px;
}

#languages svg {
    fill: rgba(255, 255, 255, 0.438);
    cursor: pointer ;
    transition: 0.1s;
}

#languages svg:hover {
    transform: scale(1.05);
    fill: rgba(255, 255, 255, 0.863);
    filter: drop-shadow(0px 0px 2px #fff)
}

main#corpo {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #212529;
    padding-top: 120px;
}

#corpo h2 > span {
    border-bottom: 2px solid #64644b;
    padding-bottom: 5px;
}

#corpo  .project {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

#corpo  .project a {
    text-decoration: none;
}

.project > div {
    display: grid;
    place-items: center;
    width: 80%;
    max-width: 600px;
}

.project > div:nth-child(1) {
    position: relative;
}

.project .geometric {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 2px solid #64644b;
    transform: translateX(40px);
}

.project:nth-child(even) .geometric {
    transform: rotate(60deg);
}

.project:nth-child(odd) .geometric {
    border-radius: 50%;
}

.project .geometric + div {
    z-index: 1;
}

.project > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project img {
    width: 90vw;
    max-width: 700px;
    min-width: 275px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
}

.projectTitle {
    font-size: 39px;
    font-weight: 100;
    margin-bottom: 10px;
}

.projectButtons {
    display: flex;
    gap: 20px;
}

.projectButtons button {
    border-radius: 5px;
    color: white;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    display: grid;
    place-items: center;
    gap: 5px;
}

.projectButtons button:nth-child(1) {
    background-color: #64644b;
    border: 0;
    padding: 10px 20px;
}

.projectButtons button:nth-child(1):hover {
    background-color: white;
    color: #64644b;
}

.projectButtons a:nth-child(2) button {
    background: 0;
    border: 1px solid #fff;
    padding: 10px 20px;
    display: flex;
}

.projectButtons button:nth-child(2):hover {
    background: white;
    color: black
}

.projectButtons button:nth-child(1):active,
.projectButtons button:nth-child(2):active {
    background-color: rgba(255, 255, 255, 0.671);
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 50px 0;
    background-color: #1f1f1a;
}

#contact > h2 {
    font-weight: 100;
    font-size: 25px;
    position: relative;
}

#contact > h2 > span {
    padding-bottom: 5px;
    border-bottom: 3px solid #64644b;
}

#contact .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;
    width: 90%;
    max-width: 800px;
    border: 2px solid #64644b;
    border-radius: 10px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.inputBox input,
.inputBox textarea {
    background: #141411;
    border: 0;
    border-bottom: 2px solid #64644b;
    color: white;
    font-size: 16px;
    padding-left: 5px;
    outline: 0;
}

.inputBox input:focus,
.inputBox textarea:focus {
    outline: 2px solid rgb(129, 129, 129);
    border-radius: 3px;
}

.inputBox input {
    height: 40px;
}

.inputBox textarea {
    height: 200px;
    padding: 5px;
    resize: none;
}

#contact #submit {
    padding: 15px 25px;
    background-color: #64644b;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

#contact #submit:hover {
    background-color: white;
    color: #64644b;
}

#contact button:disabled {
    opacity: 0.3;
}

.title {
    transition: 0.2s;
    cursor:default;
}

.title:hover {
    text-shadow: 0px 0px 2px white;
}

h2::selection,
p::selection,
label::selection,
span::selection,
h3::selection,
button::selection,
a::selection {
    background-color: rgb(106, 106, 106);
}

footer {
    width: 100%;
    text-align: center;
    background-color: #1f1f1a;
    color:white;
    padding: 10px;
}

footer a {
    color: rgb(128, 128, 128);
}

@media (max-width: 650px) {

    header #me{
        width: 100%;
    }

    header .headerContent {
        flex-direction: column-reverse;
    }

    #perfilImage {
        width: 100%;
        padding-top: 40px;
    }

    #perfilImage .img {
        width: 200px;
        height: 200px;
    }
    #me {
        padding-top: 40px !important;
    }

    #me > div  {
        justify-content: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .project .projectTitle,
    .project .projectDescription{
        text-align: center;
    }

    .project img {
        width: 90vw !important;
    }

    #corpo .project:nth-child(odd) {
        flex-direction: column-reverse;
    }

    #languages > div div {
        width: 40%;
    }

    .project .geometric {
        display: none;
    }
}

@media (max-width: 500px) {

    header #me {
        padding: 100px 10px;
    }

    header h2 {
        font-size: 30px;
    }

    #languages {
        bottom: -120px;
    }

    #languages > div {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        gap: 10px
    }

    #corpo {
        padding-top: 200px !important;
    }
}